<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>API</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<header class="display-6 text-light bg-info p-3 mb-2">
		<div>API - Controle Financeiro para Motoristas</div>
	</header>
	<div class="jumbotron px-5 py-2 text-white rounded bg-secondary">
		<p class="lead my-3">
			<strong>Catálogo dos domínios da API.</strong>
		</p>
		<div class="accordion text-dark" id="accordionApi">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingCondutores">
					<button class="fs-4 accordion-button" type="button"
						data-bs-toggle="collapse" data-bs-target="#pnlCondutores"
						aria-expanded="true" aria-controls="pnlCondutores">Condutores</button>
				</h2>
				<div id="pnlCondutores" class="accordion-collapse collapse show"
					aria-labelledby="headingCondutores" data-bs-parent="#accordionApi">
					<div class="accordion-body">
						<table class="table table-secondary table-striped">
							<thead>
								<tr>
									<th scope="col">Tipo</th>
									<th scope="col">API</th>
									<th scope="col">Descrição</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span class="badge bg-success">GET</span></td>
									<td><code>/condutor</code></td>
									<td class="fw-light">Retorna uma lista com os condutores.</td>
								</tr>
								<tr>
									<td><span class="badge bg-success">GET</span></td>
									<td><code>
											/condutor/{<strong class="text-primary">id</strong>}
										</code></td>
									<td class="fw-light">Encontra um condutor pelo id.</td>
								</tr>
								<tr>
									<td><span class="badge bg-success">GET</span></td>
									<td><code>
											/condutor/email/{<strong class="text-primary">email</strong>}
										</code></td>
									<td class="fw-light">Encontra um condutor pelo email.</td>
								</tr>
								<tr>
									<td><span class="badge bg-warning">POST</span></td>
									<td><code>/condutor/create</code></td>
									<td class="fw-light">Cria um novo condutor (com os dados
										no corpo da solicitação).</td>
								</tr>
								<tr>
									<td><span class="badge bg-info">PUT</span></td>
									<td><code>/condutor/update</code></td>
									<td class="fw-light">Edita um condutor (baseado no id do
										corpo da solicitação).</td>
								</tr>
								<tr>
									<td><span class="badge bg-danger">DELETE</span></td>
									<td><code>/condutor/delete</code></td>
									<td class="fw-light">Exclui um condutor (baseado no id do
										corpo da solicitação).</td>
								</tr>
							</tbody>
						</table>
						<div class="card">
							<div class="card-body">
								Exemplo JSON:&nbsp;&nbsp;
								<code>
									{ "id": <span class="text-primary">1</span>, "nome": <span
										class="text-primary">"teste"</span>, "sobrenome": <span
										class="text-primary">"teste"</span>, "dataNascimento": <span
										class="text-primary">"2000-01-01T00:00:00.000Z"</span>,
									"email": <span class="text-primary">"teste@email"</span>,
									"senha": <span class="text-primary">"teste"</span>, "telefone":
									<span class="text-primary">"(11) 1111-1111"</span>, "imagem": <span
										class="text-primary">"AxD//w=="</span>, "enderecoCep": <span
										class="text-primary">"teste"</span>, "enderecoLogradouro": <span
										class="text-primary">"teste"</span>, "enderecoNumero": <span
										class="text-primary">"teste"</span>, "enderecoBairro": <span
										class="text-primary">"teste"</span>, "enderecoCidade": <span
										class="text-primary">"teste"</span>, "enderecoEstado": <span
										class="text-primary">"teste"</span>, "enderecoComplemento": <span
										class="text-primary">"teste"</span> }
								</code>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingLancamentos">
					<button class="fs-4 accordion-button collapsed" type="button"
						data-bs-toggle="collapse" data-bs-target="#pnlLancamentos"
						aria-expanded="false" aria-controls="pnlLancamentos">Lançamentos</button>
				</h2>
				<div id="pnlLancamentos" class="accordion-collapse collapse"
					aria-labelledby="headingLancamentos" data-bs-parent="#accordionApi">
					<div class="accordion-body">
						<table class="table table-secondary table-striped">
							<thead>
								<tr>
									<th scope="col">Tipo</th>
									<th scope="col">API</th>
									<th scope="col">Descrição</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span class="badge bg-success">GET</span></td>
									<td><code>/lancamento</code></td>
									<td class="fw-light">Retorna uma lista com os lançamentos.</td>
								</tr>
								<tr>
									<td><span class="badge bg-success">GET</span></td>
									<td><code>
											/lancamento/condutor/{<strong class="text-primary">id</strong>}
										</code></td>
									<td class="fw-light">Encontra uma lista com os lançamentos
										pelo id do condutor.</td>
								</tr>
								<tr>
									<td><span class="badge bg-success">GET</span></td>
									<td><code>
											/lancamento/{<strong class="text-primary">id</strong>}
										</code></td>
									<td class="fw-light">Encontra um lançamento pelo id.</td>
								</tr>
								<tr>
									<td><span class="badge bg-warning">POST</span></td>
									<td><code>/lancamento/create</code></td>
									<td class="fw-light">Cria um novo lançamento (com os dados
										no corpo da solicitação).</td>
								</tr>
								<tr>
									<td><span class="badge bg-info">PUT</span></td>
									<td><code>/lancamento/update</code></td>
									<td class="fw-light">Edita um lançamento (baseado no id do
										corpo da solicitação).</td>
								</tr>
								<tr>
									<td><span class="badge bg-danger">DELETE</span></td>
									<td><code>/lancamento/delete</code></td>
									<td class="fw-light">Exclui um lançamento (baseado no id
										do corpo da solicitação).</td>
								</tr>
							</tbody>
						</table>
						<div class="card">
							<div class="card-body">
								Exemplo JSON:&nbsp;&nbsp;
								<code>
									{ "id": <span class="text-primary">1</span>, "idCondutor": <span
										class="text-primary">1</span>, "idServico": <span
										class="text-primary">1</span>, "entrada": <span
										class="text-primary">1</span>, "valor": <span
										class="text-primary">1.0</span>, "data": <span
										class="text-primary">"2000-01-01T00:00:00.000Z"</span>,
									"descricao": <span class="text-primary">"teste"</span>,
									"infoAdicional": <span class="text-primary">"teste"</span> }
								</code>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingServicos">
					<button class="fs-4 accordion-button collapsed" type="button"
						data-bs-toggle="collapse" data-bs-target="#pnlServicos"
						aria-expanded="false" aria-controls="pnlServicos">Serviços</button>
				</h2>
				<div id="pnlServicos" class="accordion-collapse collapse"
					aria-labelledby="headingServicos" data-bs-parent="#accordionApi">
					<div class="accordion-body">
						<table class="table table-secondary table-striped">
							<thead>
								<tr>
									<th scope="col">Tipo</th>
									<th scope="col">API</th>
									<th scope="col">Descrição</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span class="badge bg-success">GET</span></td>
									<td><code>/servico</code></td>
									<td class="fw-light">Retorna uma lista com os serviços.</td>
								</tr>
								<tr>
									<td><span class="badge bg-success">GET</span></td>
									<td><code>
											/servico/{<strong class="text-primary">id</strong>}
										</code></td>
									<td class="fw-light">Encontra um serviço pelo id.</td>
								</tr>
								<tr>
									<td><span class="badge bg-warning">POST</span></td>
									<td><code>/servico/create</code></td>
									<td class="fw-light">Cria um novo serviço (com os dados no
										corpo da solicitação).</td>
								</tr>
								<tr>
									<td><span class="badge bg-info">PUT</span></td>
									<td><code>/servico/update</code></td>
									<td class="fw-light">Edita um serviço (baseado no id do
										corpo da solicitação).</td>
								</tr>
								<tr>
									<td><span class="badge bg-danger">DELETE</span></td>
									<td><code>/servico/delete</code></td>
									<td class="fw-light">Exclui um serviço (baseado no id do
										corpo da solicitação).</td>
								</tr>
							</tbody>
						</table>
						<div class="card">
							<div class="card-body">
								Exemplo JSON:&nbsp;&nbsp;
								<code>
									{ "id": <span class="text-primary">1</span>, "servico": <span
										class="text-primary">"teste"</span>, "imagem": <span
										class="text-primary">"AxD//w=="</span> }
								</code>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>